<table class="table">
<tr>
    <th>Current</th>
    <th>Map name</th>
    <th>Gametype</th>
    <th>Players</th>
    <th>Start</th>
    <th>Stop</th>
</tr>
{{#each}}
{{#link-to 'game' this tagName="tr"}}
    <td>{{#if current}}<span class="glyphicon glyphicon-ok"></span>{{/if}}</td>
    <td>{{#link-to 'gamemap' this}}{{gamemap.name}}{{/link-to}}</td>
    <td>{{game-type gametype}}</td>
    <td>
    <ul>
    {{#each players}}
    <li {{bind-attr class="online::circle"}}>{{#link-to 'player' this}}{{quake-name name}}{{/link-to}} {{#if bot}}(bot){{/if}}</li>
    {{/each}}
    </ul
    </td>
    <td>{{start}}</td>
    <td>{{stop}}</td>
{{/link-to}}
{{/each}}
</table>