<table class="table">
<tr>
    <th>Current</th>
    <th>Map name</th>
    <th>Gametype</th>
    <th>Players</th>
    <th>Start</th>
    <th>Stop</th>
</tr>
{{#each}}
{{#link-to 'game' this tagName="tr"}}
    <td>{{_updated}}{{#if current}}<span class="glyphicon glyphicon-ok"></span>{{/if}}</td>
    <td>{{mapname}}</td>
    <td>{{gametype}}</td>
    <td>
    <ul>
    {{#each players}}
    <li>{{#link-to 'player' this}}{{quake-name name}}{{/link-to}}</li>
    {{/each}}
    </ul
    </td>
    <td>{{start}}</td>
    <td>{{stop}}</td>
{{/link-to}}
{{/each}}
</table>