<table class="table">
    <tr>
        <th>&nbsp;</th>
        <th>Map name</th>
        <th>Gametypes</th>
        <th>Num. players</th>
        <th>Last played</th>
        <th>Times played</th>
    </tr>
    {{#each}}
    {{#link-to 'gamemap' this tagName="tr" class="clickable"}}
    <td><img {{bind-attr src=levelshot}} alt="levelshot" class="img-thumbnail" width="128"></td>
    <td>{{name}}</td>
    <td>
        <ul>
            {{#each gametypes}}
            <li>{{game-type this}}</li>
            {{/each}}
        </ul>
    </td>
    <td>
        {{min_players}} - {{max_players}}
    </td>
    <td>{{format-date last_played 'LLL'}}</td>
    <td>{{times_played}}</td>
    {{/link-to}}
    {{/each}}
</table>
{{#if hasMore}}
<button {{action 'getMore'}} type="button" class="btn btn-primary btn-xs btn-block">
    {{#if loadingMore}}Loading more...{{else}}Load more{{/if}}
</button>
{{/if}}