<img {{bind-attr src=gamemap.levelshot}} class="img-thumbnail" alt="levelshot" width="128">
<p>map: {{#link-to 'gamemap' gamemap}}{{gamemap.name}}{{/link-to}}</p>
<p>gametype: {{game-type gametype}}</p>
<p>players:</p>
<ul>
{{#each players}}
<li>{{#link-to 'player' this}}{{quake-name name}}{{/link-to}} {{#if bot}}(bot){{/if}}</li>
{{/each}}
</ul>
<p>started: {{start}}</p>
<p>ended: {{stop}}</p>
<p>votes:</p>
<ul>
{{#each votes}}
<li>{{#link-to 'player' this}}{{quake-name player.name}}{{/link-to}} - {{vote}}</li>
{{/each}}
</ul>
<p>game options:</p>
<ul>
{{#each option in options}}
<li>{{option.name}} - {{option.value}}</li>
{{/each}}
</ul>