<img {{bind-attr src=levelshot}} class="img-thumbnail" alt="levelshot" width="128">
<p>map: {{name}}</p>
<p>gametypes:</p>
<ul>
    {{#each gametypes}}
    <li>{{game-type this}}</li>
    {{/each}}
</ul>
<p>min players: {{min_players}}</p>
<p>max players: {{max_players}}</p>
<p>images:</p>
<div>
    {{#each images}}
    <img {{bind-attr src=this}} alt="map image" class="img-rounded">
    {{/each}}
</div>