<div class="well-sm well">
    <strong>Playlist generation</strong>
    <p>Playlist is generated every time a player joins/leaves. Maps are ordered on score. Highest scoring game will be played next. Scores are based on sum of current online players votes for map/gametype combo, multiplied by modifiers.</p>
    <p>Consecutive player votes count less every time until they reach 2. One +1 vote counts as 1, two as 1.5, three as 1.75 etc.</p>
    <p>Current possible modifiers are:</p>
    <ul>
    <li>recently played: don't favor maps which have been played recently (24 hours ago).</li>
    <li>played lt. avg.: boost maps which haven't been played a lot.</li>
    <li>no team games: don't play team games with uneven number of players</li>
    <li>less team games: play less team games when low number of players</li>
    </ul>
</div>
<div class="pull-right">
    ({{this.length}} of total: {{total}})
</div>
<table class="table">
    <tr>
        <th>&nbsp;</th>
        <th>Map name</th>
        <th>Gametypes</th>
        <th>Votes</th>
        <th>Modifiers</th>
        <th>Score</th>
        <th><span {{bind-attr class="isPolling::invisible :glyphicon :glyphicon-refresh"}}></span></th>
    </tr>
    {{#each}}
    <tr>
        <td>
            <img {{bind-attr src=gamemap.levelshot}} alt="levelshot" class="img-thumbnail" width="64" height="64">
        </td>
        <td>{{#link-to 'gamemap' gamemap}}{{gamemap.name}}{{/link-to}}</td>
        <td>{{game-type gametype}}</td>
        <td>
            <ul>
                {{#each votes}}
                <li>{{player.name}}: {{vote}}</li>
                {{/each}}
            </ul>
        </td>
        <td>
            <ul>
                {{#each modifiers}}
                <li>{{name}}: {{factor}}</li>
                {{/each}}
            </ul>
        </td>
        <td>{{score}}</td>
        <td>
            &nbsp;
        </td>
    </tr>
    {{/each}}
</table>
{{#if hasMore}}
<button {{action 'getMore'}} type="button" class="btn btn-primary btn-xs btn-block">
    {{#if loadingMore}}Loading more...{{else}}Load more{{/if}}
</button>
{{/if}}
