<div class="pull-right">
    (total: {{content.meta.total}})
</div>
<table class="table">
<tr>
    <th>Player</th>
    <th>Game</th>
    <th>Map</th>
    <th>Gametype</th>
    <th>Vote</th>
    <th>Created</th>
    <th><span {{bind-attr class="isPolling::invisible :glyphicon :glyphicon-refresh"}}></span></th>
</tr>
{{#each}}
<tr>
    <td>{{#link-to 'player' player}}{{quake-name player.name}}{{/link-to}}</td>
    <td>{{#link-to 'game' game}}{{game.gamemap.name}} ({{game-type game.gametype}}){{/link-to}}</td>
    <td>{{#link-to 'gamemap' gamemap}}{{gamemap.name}}{{/link-to}}</td>
    <td>{{game-type gametype}}</td>
    <td>{{vote}}</td>
    <td>{{format-date _created 'LLL'}}</td>
    <td>&nbsp;</td>
</tr
{{/each}}
</table>