<table class="table">
<tr>
    <th>Player</th>
    <th>Game</th>
    <th>Vote</th>
    <th>Created</th>
</tr>
{{#each}}
<tr>
    <td>{{#link-to 'player' this.player}}{{quake-name player.name}}{{/link-to}}</td>
    <td>{{#link-to 'game' this.game}}{{game.gamemap.name}} ({{game-type game.gametype}}){{/link-to}}</td>
    <td>{{vote}}</td>
    <td>{{_created}}</td>
</tr
{{/each}}
</table>